.container{
    max-width: 600px;
  }
  .btn{
    background: #43d9be;
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }
  .active{
    background: #ee4747;
    color: white;
    outline: none !important;
    box-shadow: none !important;
  }
  .btn:focus{
    outline: none !important;
  }
  